<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.jmfayard.okandroid">

    <!-- The NFC permission is required to use NfcAdapter. -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- Inform app distribution channels that NFC is used, though not required. -->
    <!-- (This step is optional, but recommended.) -->
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <!-- Declare this required feature if you want to make the app available to BLE-capable
devices only.  If you want to make your app available to devices that don't support BLE,
you should omit this in the manifest.  Instead, determine BLE capability by using
PackageManager.hasSystemFeature(FEATURE_BLUETOOTH_LE) -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>




    <application
        android:name=".App"
        android:icon="@drawable/ic_okandroid"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http" android:host="twitter.com" android:pathPattern="/.*"/>
                <data android:scheme="https" android:host="twitter.com" android:pathPattern="/.*"/>
                <data android:scheme="http" android:host="mobile.twitter.com" android:pathPattern="/.*"/>
                <data android:scheme="https" android:host="mobile.twitter.com" android:pathPattern="/.*"/>
            </intent-filter>

        </activity>

        <activity android:name=".ReceiverActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!--intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/nfc_tech_filter" /-->

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.github.jmfayard.okandroid"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

    </application>
</manifest>
